body, h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif;
}
.w3-row-padding img {margin-bottom: 12px;}
.w3-sidebar {width: 120px;background: #222;}
#main {margin-left: 120px;}
.imgs{
    width:100%;
}
.hrs{
    width:200px;
}
.navs{
    width:25% !important;
}
.div1{
    height:28px;
    width:95%;
}
.div2{
    height:28px;
    width:85%;
}
.div3{
    height:28px;
    width:80%;
}
.div4{
    margin:0 -16px;
}
.div5{
    margin:0 -16px;
}
.img1{
    width:80px;
}
.hr1{
    width:200px;
}
.hr2{
    width:200px;
}
.cv{
    text-decoration:none;
}
@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0;
    }
}